.wrapper
  .vanity
    span.name Eli Horne,
    span.title internet troublemaker.
    p.blurb
      | UI/UX designer currently working at
      | <a href="http://www.google.com/about/jobs/">Google</a>.
  .footer
    p.follow Can be found at these fine internet establishments:
    ul.social
      li
        a(href="http://twitter.com/elihorne")
          | <span class="icon-twitter"></span>
          | Twitter
      li
        a(href="http://github.com/elihorne")
          | <span class="icon-github-alt"></span>
          | GitHub
      li
        a(href="https://plus.google.com/114724314338922969645/posts")
          | <span class="icon-google-plus"></span>
          | Google+
