!!! 5
html(lang="en", dir="ltr")
	head
		title= title
		meta(name="description", content="I live in New York and work as a UX designer. I'm also a nerd. This is my website")
		link(rel="shortcut icon", href="/images/favicon.ico")
		link(type="text/plain", rel="author", href="/txt/humans.txt")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Sans")
		link(rel='stylesheet', href='/css/style.css?v=234')
		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript', src='/js/function.js?v=234')
		script(type='text/javascript')
			var _sf_startpt=(new Date()).getTime()
	body!= body
		script(type='text/javascript')
			var _sf_async_config = { uid: 35581, domain: 'elihorne.com' };
			(function() {
				function loadChartbeat() {
					window._sf_endpt = (new Date()).getTime();
					var e = document.createElement('script');
					e.setAttribute('language', 'javascript');
					e.setAttribute('type', 'text/javascript');
					e.setAttribute('src', (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") + "js/chartbeat.js");
					document.body.appendChild(e);
				};
				var oldonload = window.onload;
				window.onload = (typeof window.onload != 'function') ?
				loadChartbeat : function() { oldonload(); loadChartbeat();};
			})();
		
		